# Django secret key (see https://djecrety.ir/)
SECRET_KEY=
# Sendgrid API key
SENDGRID_API_KEY=
# Discord Logging Webhook
DISCORD_LOG_WEBHOOK=
# Token from mapbox.com to get Open Street Map tiles
MAPBOX_TOKEN=
