{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}E-Mail verschickt{% endblocktrans %}
{% endblock %}

{% block header %}
{% endblock %}



{% load crispy_forms_tags %}

{% block content %}

<div class="bg-container">
  <div class="container login-form">
    <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12 col-12" style="margin: 0 auto;">
      <div class="card login-card text-center align-self-center align-items-center">


        <svg class="bi bi-check-circle" style="color:#ed0061; font-size:5rem; margin-bottom: 15px;" width="1em"
          height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd"
            d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
            clip-rule="evenodd" />
        </svg>

        <h2 class="font-weight-light">{% blocktrans %}E-Mail verschickt{% endblocktrans %}</h2>
        <p>{% blocktrans %}Wir haben dir einen Link um dein Passwort zurückzusetzen an die angegebene E-Mail-Adresse
          gesendet.{% endblocktrans %}<br></p>
        <p style="font-size:10pt">
          <svg class="bi bi-info" style="color:#ed0061; font-size:5rem; margin-bottom: 5px;" width="24" height="24"
            viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 7 L 11 9 L 13 9 L 13 7 L 11 7 z M 11 11 L 11 17 L 13 17 L 13 11 L 11 11 z"
              clip-rule="evenodd" />
          </svg>
          <b style="font-weight:500;">{% blocktrans %}Keine E-Mail erhalten?{% endblocktrans %}</b><br>
          {% blocktrans %}Es kann ein paar Minuten dauern bis die E-Mail bei dir ankommt. Überprüfe auch deinen
          Spamordner.
          Falls du tatsächlich keine E-Mail erhalten solltest, kontrolliere bitte die eingegebene
          E-Mail-Adresse.{% endblocktrans %}<br>
        </p>

      </div>

    </div>
  </div>
</div>
{% endblock %}