{% load i18n %}

{% blocktrans with firstname=user.first_name%}

Hallo {{firstname}}

Du erhältst diese E-Mail um dein Passwort bei match4crisis zurückzusetzen.

Bitte gehe auf den folgenden Link um ein neues Passwort zu wählen:
{% endblocktrans %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% blocktrans %}
Falls du dein Passwort nicht zurücksetzen wolltest, kannst du diese E-Mail ignorieren. Dein Passwort wird nicht geändert, wenn du nicht auf den Link gehst. 

Vielen Dank,
ihr match4crisis Team
{% endblocktrans %}
