{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
<style>

    div.background-photo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.cards h2 { font-size: 1.5rem;}
.cards h5 { font-size: 1rem; }
div.organisation-card {
    float: left;
}

div.organisation-card > .row {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 25px;
    padding: 20px;
    min-height: 115px; }

@media only screen and (min-width: 768px) {
    div.organisation-card .row {
    margin-right: 0px;
    margin-left: 0px;
    }

    div.organisation-card > .row {
        margin-bottom: 30px;
    }
    }

.pagination-container {
    text-align: center;
    font-size: 14pt;
  }
  
</style>
{% endblock %}

{% block title %}
{% blocktrans %}Hilfsorganisationen{% endblocktrans %}
{% endblock %}


{% block content%}
<div class="container">
    <div style="height:40px"></div>
    <h2>{% blocktrans %}Hilfsorganisationen{% endblocktrans %}</h2>
    <p>Folgende Organisationen sind bei uns registriert.</p>
</div>

<div class="container cards">
    {% for entry in page_obj %}
    {% include 'organisation-card.html' %}
    {% empty %}
    {% blocktrans %}
    Bald gibt es hier mehr zu sehen.
    {% endblocktrans %}
    {% endfor %}
</div>

<div class="pagination-container container">

    <hr>
  {% if page_obj.has_previous %}
  <a class="pagination-controls" href="{% url 'alter_url_query' %}?page=1" title="{% trans "Erste Seite" %}">
    <svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
      <polyline points="6 14 0 8 6 2"></polyline>
      <polyline points="12 14 6 8 12 2"></polyline>
    </svg>
  </a>
  <a class="pagination-controls" href="{% url 'alter_url_query' %}?page={{ page_obj.previous_page_number }}" title="{% trans "Vorherige Seite" %}">
    <svg width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
      <polyline points="6 14 0 8 6 2"></polyline>
    </svg>
  </a>
  {% endif %}
  
  <span class="current">
    {% blocktrans with page_number=page_obj.number max_page_number=page_obj.paginator.num_pages%}Seite {{ page_number }} von {{ max_page_number }}{% endblocktrans %}
  </span>
  
  {% if page_obj.has_next %}
  <a class="pagination-controls" href="{% url 'alter_url_query' %}?page={{ page_obj.next_page_number }}" title="{% trans "Nächste Seite" %}">
    <svg width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
      <polyline points="0 14 6 8 0 2"></polyline>
    </svg>
  </a>
  <a class="pagination-controls" href="{% url 'alter_url_query' %}?page={{ page_obj.paginator.num_pages }}" title="{% trans "Letzte Seite" %}">
    <svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
      <polyline points="0 14 6 8 0 2"></polyline>
      <polyline points="6 14 12 8 6 2"></polyline>
    </svg>
  </a>
  {% endif %}
  
  </div>
  
{% endblock %}