{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
<style>

    div.background-photo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.cards h2 { font-size: 1.5rem;}
.cards h5 { font-size: 1rem; }
div.organisation-card {
    float: left;
}

div.organisation-card > .row {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 25px;
    padding: 20px;
    min-height: 115px; }

    @media only screen and (min-width: 768px) {
    div.organisation-card .row {
    margin-right: 0px;
    margin-left: 0px;
}

div.organisation-card > .row {
    margin-bottom: 30px;
}
    }

</style>
{% endblock %}

{% block title %}
{% blocktrans %}Hilfsorganisationen-Übersicht{% endblocktrans %}
{% endblock %}


{% block content%}
<div class="container">
    <div style="height:40px"></div>
    <h2>{% blocktrans %}Hilfsorganisationen{% endblocktrans %}</h2>
    <p>Folgende Organisationen sind bei uns registriert.</p>
</div>

<div class="container cards">
    {% for entry in page_obj %}
    {% include 'organisation-card.html' %}
    {% empty %}
    {% blocktrans %}
    Bald gibt es hier mehr zu sehen.
    {% endblocktrans %}
    {% endfor %}
</div>
<div class="container" style="text-align: center; margin: 0 auto; margin-top: 55px;">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; {% blocktrans %}Erste{% endblocktrans %}</a>
        <a href="?page={{ page_obj.previous_page_number }}">{% blocktrans %}Vorherige{% endblocktrans %}</a>
        {% endif %}

        <span class="current">
            {% blocktrans with page_number=page_obj.number max_page_number=page_obj.paginator.num_pages%}Seite {{ page_number }} von {{ max_page_number }}{% endblocktrans %}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{% blocktrans %}Nächste{% endblocktrans %}</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">{% blocktrans %}Letzte{% endblocktrans %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}