{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Hilfe anfordern{% endblocktrans %}
{% endblock %}

{% load crispy_forms_tags %}
{% block header %}
<style>
    .form-group { margin-bottom: 25px;}
    .form-group label { font-weight: 600; }
    </style>
    {% endblock %}
{% block content %}
<div class="container">
    <div class="row" style="margin-top:150px; margin-bottom:55px;">
               <div class="col-lg-10 col-sm-12 col-12">
                   <h2>Hilfe anfordern</h2>
                {% csrf_token %}
               {% crispy form form.helper %}

        </div>
   </div>
</div>
{% endblock %}