{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Request Help{% endblocktrans %}
{% endblock %}
{% block header %}
<style>
       .footer { margin-top: 0px !important;}
.bg-container { background: #ed0061; }
body { margin-top: 0px !important;}

.login-card { border-radius: 30px;}

.login-form { padding-top: 100px;}
</style>
<script type="text/javascript">
  window.addEventListener('load', function() {
      $(window).on("resize", function() {

          var height = $(window).height();
          var navHeight = $('.navbar').outerHeight();
          var footerHeight = $('.footer').innerHeight();

          var newHeight = height - footerHeight - navHeight;

          $(".login-form").height(newHeight);

      }).trigger("resize");

  });
</script>
{% endblock %}
{% block content %}

<div class="bg-container">
  <div class="container login-form">
    <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12 col-12" style="margin: 0 auto;">
      <div class="card login-card text-center align-self-center align-items-center">
  
        <h2>{% blocktrans %}Erfolgreich versendet{% endblocktrans %}</h2>
        {% blocktrans %}Ihr habt nun erfolgreich E-Mails an {{ receiverCount }} Helfende in eurer Nähe versendet.<br/>
             Wir hoffen, dass sich bald jemand bei euch meldet.{% endblocktrans %}<br/><br>
      <a href="{% url 'organisation_dashboard' %}" class="btn btn-green" role="button" aria-pressed="true"
        >{% blocktrans %}Zurück zum Dashboard{% endblocktrans %}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-arrow-right-circle"
          style="margin-top: -2px; margin-left: 10px"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
          />
        </svg>
      </a>
    </div>
    </div></div>
  </div>

{% endblock%}