{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}
{% blocktrans %}Karte der Angebote{% endblocktrans %}
{% endblock %}

{% block header %}

<link rel="stylesheet" href="{% static 'js/leaflet-1.6.0/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'css/leaflet.groupedlayercontrol.min.css' %}" />
<link rel="stylesheet" href="{% static 'js/leaflet.markercluster-1.4.1/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'js/leaflet.markercluster-1.4.1/MarkerCluster.Default.css' %}" />
<link rel="stylesheet" href="{% static 'css/map.css' %}">

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="{% static 'js/leaflet-1.6.0/leaflet.js' %}" ></script>
<script src="{% static 'js/leaflet.groupedlayercontrol.min.js' %}" ></script>
<script src="{% static 'js/leaflet.markercluster-1.4.1/leaflet.markercluster.js' %}" ></script>
<script src="{% static 'js/Leaflet.FeatureGroup.SubGroup-1.0.2/leaflet.featuregroup.subgroup.js' %}" ></script>

<style>
#controlContainer > div {     -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    scrollbar-color: transparent transparent; }
.footer { margin-top:0px !important; }
.leaflet-control-layers label { display: inline-block; }
.leaflet-control-layers-group > label { padding: 10px 0px;}
  .control-container { margin-top: 5px;}
  .leaflet-overlay-pane svg { display: none;}
  .user-container, .leaflet-control-layers-expanded { z-index: 999 !important;}
  p.listview { margin-top: 25px;
      position: absolute;
      bottom: 20px;
      z-index: 900;
      text-align: center;
      width: 100%;}
      div.leaflet-top.leaflet-right { width: 100%; }
      .leaflet-top .leaflet-control { margin-top: 0px; margin-right: 0px; border-radius: 0px; width: 100%;}
      .icon svg { margin-top: -2px; margin-right: 2px;}
      .leaflet-popup-content p { margin: 2px 0; font-size: 13px;}
      .leaflet-control { float: none; display:block;}
      .leaflet-control-layers-overlays > label > div { float: left;} 
      .leaflet-control-layers-overlays > label { line-height: 50px; }
      p.listview a {    color: #fff !important; }
  h4.popup-title { font-size: 14px; margin-top: 10px;}
      div.content { position: relative; }
      .leaflet-popup-content { padding-bottom: 10px; padding-top: 10px; min-width: 180px;}
      .btn { color: #fff !important; background-color: #ed0061; border-radius: 10px; font-size: 14px;}
   .leaflet-popup-content .btn { padding: .2rem 1rem; width: 100% }

   @media only screen and (max-width: 767px) {
   .leaflet-pane { padding-top: 100px;}
   }

   @media only screen and (min-width: 768px) {
   .leaflet-pane { padding-top: 60px;}
   .leaflet-control { display: inline-block;}
   }
  
</style>
<script type="text/javascript">
  pageOptions = {
    mapViewContainerId: 'mapContainer',
    startPosition: {{ startPosition }},
    zoom: {{ zoom }},
    mapboxToken       : "{{ mapbox_token }}",
  }
  
</script>
<!--<script type="text/javascript" src="mapview/?accommodation=False&translation=False&transportation=False&generic=True"></script> -->
<script type="text/javascript" src="mapview/?{{get_params}}"></script> 
  

{% endblock %}

{% block content %}
{{counts}}
<div id="mapContainer" style="z-index:1; position: relative;">
  <div class="container"><input id="location" type="text" placeholder="{% trans 'Gib hier einen Standort ein ... ' %}" class="search-input"/></div>
  <div id="controlContainer" class="container control-container" {% if request.GET.no_controls%}style="visibility: hidden;"{% endif %}></div>
	 <a href="http://mapbox.com/about/maps" class="mapbox-wordmark" target="_blank">Mapbox</a>
   <p class="listview">
     <span class="btn btn-yellow" id="no-offers" >{%blocktrans%} Derzeit sind keine Angebote für diese Ansicht vorhanden{%endblocktrans%}</span>
    <a id="results_as_list" href="../offers/list" class="btn btn-yellow" role="button" aria-pressed="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" style="margin-right: 10px; margin-top:-2px;">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>{%blocktrans%} Zeige <span id="resultString" >0</span> Ergebnisse in einer Liste{%endblocktrans%}
  </a></p>
</div>

{% endblock %}
