{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Preferences{% endblocktrans %}
{% endblock %}

{% load crispy_forms_tags %}
{% block header %}

<style>


    label.custom-control-label { position: relative;
  display: inline-block;
 margin-right: .5rem;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
margin-bottom: 0px;
box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 25px;
    width: 100%;
    padding: 10px 10px 10px 70px;
    font-weight: 600;
}

.custom-checkbox .custom-control-label::before {
content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear; 
  box-shadow: 0 0 0px 2px #e6e6e6;
}

.custom-control-label::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.custom-control-label:active .custom-control-label::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.custom-control input { display: none; }

.custom-control-input:checked~.custom-control-label::before {  background-color: #4BD763;  box-shadow: 0 0 0px 2px #4BD763;}

.custom-control-input:checked~.custom-control-label::after { transform: translate3d(22px, 2px, 0); }

.custom-control { padding-left: 0px; }


.custom-control-label::before { border: 0px;}

.btn {     background-color: #32bd69;
    font-size: 1rem;
    color: #fff;
    padding: .8rem 2.5rem;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
margin-top: 20px; }

    .btn:hover { background-color: #1eb159; }
</style>

{% endblock %}
{% block content %}

<div style="height:40px"></div>
<div class="container">
    <div class="row align-self-center">
        <div class="col-md-8" style="margin: 0 auto; ">
      <h2 class="title">Profile Settings</h2>
      <p style="margin-bottom: 35px;">Change your personal information here.</p>
      <form action="{% url 'preferences' %}" class="blueForms" method="post">
        {% csrf_token %}
        {% crispy comPrefForm comPrefForm.helper %}
        {% crispy specPrefForm specPrefForm.helper %}
    </form>

        </div>
   </div>
</div>

{% endblock %}