{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Listenansicht Angebote{% endblocktrans %}{% endblock %}

{% block header %}
<style>
.content { background-color: #f7f7f7; background-image: url('{% static 'img/bg-wave.png' %}'); background-size: 100%; background-position: top; background-repeat: no-repeat; padding-bottom: 55px;}
.footer { margin-top: 0px; }
  .radius {float: left; display: block;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.375rem .75rem 0.375rem 1.2rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
  border: 0px;
  border-radius: 1rem; }

  div.description { padding: 10px; position: relative; }
  .count { text-align: right; }
.count p { display: inline; margin-bottom: 0px !important; padding:5px; border-radius: 5px; background-color: #ed0061; color: #fff;  }
div.background-photo-search {  border-radius: 20px; padding-top: 100%;  max-width: 100%; background-size: cover;}
.pointer { cursor: pointer; }
@media only screen and (max-width: 767px) { div.background-photo-search {padding-top: 80%;max-width: 100%;  }  

.radius, .pac-target-input { margin-bottom: 15px;} 
}

@media only screen and (min-width: 768px) { 
.radius { width: 25%; }
.pac-target-input { float: left; width: calc(50% - 15px); margin-right: 15px;}
#searchsubmit-button { width:calc(25% - 15px); display: inline-block; margin-left: 15px;}
}

@media only screen and (min-width: 992px) { 
.radius { width: 25%; }
.pac-target-input { float: left; width: calc(55% - 25px); margin-right: 25px;}
#searchsubmit-button { width:calc(20% - 25px); display: inline-block; margin-left: 25px;}
}

</style>

<script type="text/javascript">
  window.addEventListener('load', function() {
      $(window).on("resize", function() {

          var height = $(window).height();
          var navHeight = $('.navbar').outerHeight();
          var footerHeight = $('.footer').outerHeight( true );

          var newHeight = height - footerHeight - navHeight;

          $(".content").css('min-height', newHeight);

      }).trigger("resize");

  });
</script>
{% endblock %}

{% block content %}

<div class="container">
    <div style="height:40px"></div>
    <div class="row align-self-center align-items-center top-menu">
<div class="col-6 left">
 <p class="font-weight-bold">  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"  style="margin-top: -2px;" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg> <a href="/offers/search{% if city != "" %}?city={{city}}&range={{range}}{%endif%}">{%blocktrans%} Zurück {% endblocktrans%}</a><!--<input type="button" class="back" value="{% blocktrans %}Zurück{% endblocktrans %}" onclick="window.history.back()" />-->  </p></div>

        </div>

        <div class="row align-self-center align-items-center" style="margin-bottom: 55px;">
</div> 

<div >
    <div class="row align-self-center align-items-center" style="margin-top:75px;">
 <div class="col-12" >
    <h2 class="title" ><img src="{% static 'img/step-2.svg' %}" style="width: 35px; margin-top: -4px; margin-right: 5px; height: auto;" /> {% if requestForHelp == False %}{% blocktrans %}Welche Art von Hilfe benötigst du?{% endblocktrans %}{%else%}{% blocktrans %}Welche Art von Hilfe bietest du?{% endblocktrans %}{%endif%}</h2></div>
        </div>
        </div>
        <div class="container cards" >
            <a onclick="search_offers(['accommodation']);" class="pointer">        
            <div class="col-12 col-lg-6 offer-card"> 

                <div class="row align-self-center align-items-center">
                <div class="col-4 col-sm-2" style="padding: 5px;">
             
                    <div class="background-photo-search" style="background-image: url({% static 'img/offers/accommodation.jpg' %})"></div>

                  </div>
                <div class="description col-6 col-sm-8">
<h3>{% blocktrans %}Unterkunft{% endblocktrans %}</h3>
<p>{% blocktrans %}Suche nach einer passenden Unterkunft.{% endblocktrans %}</p>

</div>
<div class="count col-2 col-sm-2">

    <p>{{ local.AccommodationOffers }}</p>
    
    </div>
                </div>

            </div>   
            </a>  
          

       
            <a onclick="search_offers(['buerocratic'])" class="pointer">        
                <div class="col-12 col-lg-6 offer-card"> 
    
                    <div class="row align-self-center align-items-center">
                    <div class="col-4 col-sm-2" style="padding: 5px;">
                 
                        <div class="background-photo-search" style="background-image: url({% static 'img/offers/buerocracy.jpg' %})"></div>
    
                      </div>
                    <div class="description col-6 col-sm-8">
    <h3>{% blocktrans %}Bürokratie{% endblocktrans %}</h3>
    <p>{% blocktrans %}z.B. Unterstützung bei Behördengängen.{% endblocktrans %}</p>
    
    </div>
    
    <div class="count col-2 col-sm-2">
    
        <p>{{ local.BuerocraticOffers }}</p>
        
        </div>
                    </div>
    
                </div>   
                </a>  


                <a onclick="search_offers(['manpower']);" class="pointer">        
                    <div class="col-12 col-lg-6 offer-card"> 
        
                        <div class="row align-self-center align-items-center">
                        <div class="col-4 col-sm-2" style="padding: 5px;">
                     
                            <div class="background-photo-search" style="background-image: url({% static 'img/offers/manpower.jpg' %})"></div>
        
                          </div>
                        <div class="description col-6 col-sm-8">
        <h3>{% blocktrans %}Hilfe vor Ort{% endblocktrans %}</h3>
        <p>{% blocktrans %}z.B. online oder Hilfe vor Ort.{% endblocktrans %}</p>
        
        </div>
        
        <div class="count col-2 col-sm-2">
        
            <p>{{ local.ManpowerOffers }}</p>
            
            </div>
                        </div>
        
                    </div>   
                    </a>  

               

         
                    <a onclick="search_offers(['childcare']);" class="pointer">      
                        <div class="col-12 col-lg-6 offer-card"> 
            
                            <div class="row align-self-center align-items-center">
                            <div class="col-4 col-sm-2" style="padding: 5px;">
                         
                                <div class="background-photo-search" style="background-image: url({% static 'img/offers/childcare.jpg' %})"></div>
            
                              </div>
                            <div class="description col-6 col-sm-8">
            <h3>{% blocktrans %}Kinderfürsorge{% endblocktrans %}</h3>
            <p>{% blocktrans %}z.B. Babysitting{% endblocktrans %}</p>
            
            </div>
            
            <div class="count col-2 col-sm-2">
            
                <p>{{ local.ChildcareOffer }}</p>
                
                </div>
                            </div>
            
                        </div>   
                        </a>  


                        <a onclick="search_offers(['welfare']);" class="pointer">       
                        <div class="col-12 col-lg-6 offer-card"> 
            
                            <div class="row align-self-center align-items-center">
                            <div class="col-4 col-sm-2" style="padding: 5px;">
                         
                                <div class="background-photo-search" style="background-image: url({% static 'img/offers/medical.jpg' %})"></div>
            
                              </div>
                            <div class="description col-6 col-sm-8">
            <h3>{% blocktrans %}Medizinische Unterstützung{% endblocktrans %}</h3>
            <p>{% blocktrans %}z.B. für ältere Personen oder Personen mit Behinderungen.{% endblocktrans %}</p>
            
            </div>
            
            <div class="count col-2 col-sm-2">
            
                <p>{{ local.WelfareOffers }}</p>
                
                </div>
                            </div>
            
                        </div>   
                        </a>  



                        <a onclick="search_offers(['job']);" class="pointer">         
                        <div class="col-12 col-lg-6 offer-card"> 
            
                            <div class="row align-self-center align-items-center">
                            <div class="col-4 col-sm-2" style="padding: 5px;">
                         
                                <div class="background-photo-search" style="background-image: url({% static 'img/offers/jobs.jpg' %})"></div>
            
                              </div>
                            <div class="description col-6 col-sm-8">
            <h3>{% blocktrans %}Jobs{% endblocktrans %}</h3>
            <p>{% blocktrans %}Finde einen passenden Job.{% endblocktrans %}</p>
            
            </div>
            
            <div class="count col-2 col-sm-2">
            
                <p>{{ local.JobOffers }}</p>
                
                </div>
                            </div>
            
                        </div>   
                        </a>  

                        <a onclick="search_offers(['translation']);" class="pointer">         
                          <div class="col-12 col-lg-6 offer-card"> 
              
                              <div class="row align-self-center align-items-center">
                              <div class="col-4 col-sm-2" style="padding: 5px;">
                           
                                  <div class="background-photo-search" style="background-image: url({% static 'img/offers/translation.jpg' %})"></div>
              
                                </div>
                              <div class="description col-6 col-sm-8">
              <h3>{% blocktrans %}Übersetzungen{% endblocktrans %}</h3>
              <p>{% blocktrans %}Finde einen passenden Übersetzer.{% endblocktrans %}</p>
              
              </div>
              
              <div class="count col-2 col-sm-2">
              
                  <p>{{ local.TranslationOffers }}</p>
                  
                  </div>
                              </div>
              
                          </div>   
                          </a>  
                        <a onclick="search_offers(['transportation']);" class="pointer">             
                          <div class="col-12 col-lg-6 offer-card"> 
      
                            <div class="row align-self-center align-items-center">
                            <div class="col-4 col-sm-2" style="padding: 5px;">
      
                                <div class="background-photo-search" style="background-image: url({% static 'img/offers/psychological.jpg' %})"></div>
      
                              </div>
                            <div class="description col-6 col-sm-8">
                            <h3>{% blocktrans %}Mitfahrgelegenheiten{% endblocktrans %}</h3>
                            <p>{% blocktrans %}Ausgehend von {{city}}{% endblocktrans %}</p>
      
                            </div>
      
      
                            <div class="count col-2 col-sm-2">
      
                            <p>{{ local.TransportationOffers }}</p>
      
                            </div>
                          </div>
      
                          </div>   
                        </a>  

                  <a onclick="search_offers(['welfare']);" class="pointer">             
                    <div class="col-12 col-lg-6 offer-card"> 

                      <div class="row align-self-center align-items-center">
                      <div class="col-4 col-sm-2" style="padding: 5px;">

                          <div class="background-photo-search" style="background-image: url({% static 'img/offers/psychological.jpg' %})"></div>

                        </div>
                      <div class="description col-6 col-sm-8">
                      <h3>{% blocktrans %}Psychologische Unterstützung{% endblocktrans %}</h3>
                      <p>{% blocktrans %}Online oder persönlich.{% endblocktrans %}</p>

                      </div>


                      <div class="count col-2 col-sm-2">

                      <p>{{ local.PsychologicalOffers }}</p>

                      </div>
                    </div>

                    </div>   
                  </a>  

</div>


</div>

<script>
  function findGetParameters() {
    var result = {},
        tmp = [];
    location.search
        .substr(1)
        .split("&")
        .forEach(function (item) {
          tmp = item.split("=");
          result[tmp[0]] = tmp[1] 
        });
    return result;
}
  window.onload=function(){
    console.log("Onload")
    results = findGetParameters()
  }
  function search_offers(types){
    visibles = []
    for (var i = 0; i < types.length; i++)
    {
      visibles.push(types[i]+"Visible")
    }
    data = {}
    for (var i = 0; i < visibles.length; i++)
    {
      data[visibles[i]] = "1"
    }
    {% if requestForHelp == True %}
    data["requests"] = "True"
    {%endif%}
    data["city"] = "{{ city }}"
    console.log("Visibles: "+JSON.stringify(data))
    data["range"] = "{{ range }}"
    data["show_list"] = "True"
    var csrfmiddlewaretoken = '{{ csrf_token }}'
    data.show_list = "True"
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "handle_filter", true);
    xhr.setRequestHeader( "X-CSRFToken", csrfmiddlewaretoken);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.setRequestHeader("charset", "utf-8");
    var formBody = [];
    for (var property in data) {
      var encodedKey = encodeURIComponent(property);
      var encodedValue = encodeURIComponent(data[property]);
      formBody.push(encodedKey + "=" + encodedValue);
    }
    formBody = formBody.join("&");
    xhr.onreadystatechange = function () {
      if (xhr.readyState == 4 && xhr.status == 200) {
        document.open();
        document.write(xhr.responseText);
        document.close();
      } 
    }
    console.log("sending: "+JSON.stringify(data))
    xhr.send(formBody);
  
  
  }
</script>
{% endblock %}