{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
{{ translationForm.media.js }}
{{ translationForm.media.css }}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style>
input[type=checkbox]~label { position: relative;
  display: inline-block;
 margin-right: .5rem;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
margin-bottom: 0px;
border-radius: 1rem;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 8%);
    width: 100%;
    padding: 10px 10px 10px 70px;
    font-weight: 600;
    margin-bottom: 15px;
}
.form-control { border-radius: 1rem; }

input[type=checkbox]~label::before {
content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear; 
  box-shadow: 0 0 0px 2px #e6e6e6;
}

input[type=checkbox]~label::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}


input[type=checkbox] { display: none; }

input[type=checkbox]:checked~label::before {  background-color: #4BD763;  box-shadow: 0 0 0px 2px #4BD763;}

input[type=checkbox]:checked~label::after  { transform: translate3d(22px, 2px, 0); }

.custom-control { padding-left: 0px; }

.btn {     background-color: #32bd69;
    font-size: 1rem;
    color: #fff;
    padding: .8rem 2.5rem;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
margin-top: 20px; }

.btn:hover { background-color: #1eb159; color: #fff; }
#isDigital label::before { border: 0px;}
table { width: 100%}

label { margin-bottom: 5px; font-weight: 600;}
.form-control { margin-bottom: 15px;}

input[type=checkbox] { box-shadow: none; width: auto; height: auto;}

.select2 {width: 100% !important}

#offerType, #lng, #lat, #bb, #latEnd, #lngEnd, #bbEnd{
    display: none !important;
}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div style="height:40px"></div>
<div class="container">
    <div class="row" style=" margin-bottom:55px;">
               <div class="col-12 col-lg-6" style="margin: 0 auto">

                <h2 class="title" style="margin-bottom: 35px">{% blocktrans %}Wo möchtest du helfen?{% endblocktrans %}</h2>


<form id="thisForm" action="/offers/createOffer" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table id="mainTable">
        <tbody>
            {% for field in genericForm.visible_fields %}
            <tr>
<td id="{{ field.name }}" style="    display: flex;
flex-direction: column-reverse;">{{field }} {{ field.label_tag }}</td>   
            </tr>
            {% endfor %}
             <tbody id="imageTable">   
            {% for field in imageForm.visible_fields %}
            <tr>
            <td>{{ field.label_tag }} {{ field }}</td> 
            </tr>
            {% endfor %}</tbody>
        </tbody>
        <tbody id="detailTable">
            {% for field in detailForm.visible_fields %}
            <tr>        
                <td id="{{ field.name }}">{{ field.label_tag }} {{ field }}</td>   
            </tr>
            {% endfor %}
        </tbody>
       
    </table>
    <input type="submit" onclick="save_with_active()" value="{% blocktrans %}Erstellen und teilen {%endblocktrans%}" class="btn">
    <input type="button" onclick="save_without_active()" value="{% blocktrans %}Speichern und später bearbeiten{%endblocktrans%}" class="btn btn-yellow">
</form>
</div></div></div>

<script type="text/javascript" src="create_js"></script>
{% endblock %}