{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<form action="/offers/{{id}}/update" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table> 
    {% for image in images%}
    <tr>
        <td> Image : </td><td><img src="{{image.url}}"></td>
        {% if edit_allowed %}<td><input type="button" value="delete" onclick="window.location.href = '/offers/{{id}}/delete_image/{{image.id}}';"></td>{% endif %}
    </tr>
    {% endfor %}
    {% if edit_allowed %}<tr>{{ imageForm }}</tr>{%endif%}
    {% for field in generic.visible_fields %}
    <tr>
       {% if edit_allowed %}
            <td >{{ field.label_tag }}</td> <td id="{{ field.name }}">{{field }}</td>
                
       {%else   %}
        <td>{{field.label_tag }}</td>
            <td id="{{field.name}}">{{field.value}}</td> 
            
        {% endif %}
    </tr>

    {% endfor %}
    {% for field in detail.visible_fields %}
    <tr>
        {% if edit_allowed %}<td >{{ field.label_tag }}</td> <td id="{{ field.name }}">{{field}}</td>        
        {%else%} <td>{{field.label_tag }}</td><td id="{{field.name}}">{{field.value}}</td>
        {% endif %}
       
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Update">
</form>


<form action="/offers/" method="get"><input type="submit" value="Back"></form>
{% endblock %}