{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Listenansicht Angebote{% endblocktrans %}{% endblock %}

{% block header %}
<style>
  .content {
    background-color: #f7f7f7;
    padding-bottom: 55px;
  }

  .footer {
    margin-top: 0px;
  }

  .title {
    margin-top: 35px;
    margin-bottom: 25px;
  }

  .form-control {
    margin-bottom: 15px;
  }

  #id_location {
    padding-left: 2.2rem;
  }

  .hint-text{
    font-size: 11pt;
    margin-top: -20px;
    color: #6c757d !important;
  }

  .form-control {
    height: calc(1.5em + 1rem);
  }

  .custom-control-input,
  .custom-control-label::before {
    display: none;
  }

  .custom-control-input:checked~.custom-control-label {
    background-color: #ed0061;
    color: #fff;
  }

  .custom-control-input:checked~.custom-control-label h3 {
    color: #fff;
  }

  .custom-control-input:checked~.custom-control-label img {
    filter: invert(100%);
  }

  .custom-control-label,
  .custom-control-label * {
    transition: all 0.3s linear;
  }

  .btn {
    width: 100%;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">
  <div style="height:40px"></div>
  <div class="row align-self-center align-items-center top-menu">
    <div class="col-6 left">
      <p class="font-weight-bold">
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" style="margin-top: -2px;"
            class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
          {%blocktrans%} Zurück {% endblocktrans%}
        </a>
      </p>
    </div>
  </div>

  <div class="row align-self-center align-items-center" style="margin-bottom: 55px;">
    <div class="col-lg-12">

      <form id="searchForm" action="{% url 'search' %}" method="POST">
        {% csrf_token %}

        <h2 class="title">
          <img src="{% static 'img/step-1.svg' %}"
            style="width: 35px; margin-top: -4px; margin-right: 5px; height: auto;" />
          {% if searchingRequests %}
          {% blocktrans %}Wo willst du helfen?{% endblocktrans %}
          {% else %}
          {% blocktrans %}Wo suchst du nach Hilfe?{% endblocktrans %}
          {% endif %}
        </h2>
        <p class="hint-text">
          {% if searchingRequests %}
          {% blocktrans %}Um alle Hilfsgesuche zu sehen, kannst du diese Felder auch frei lassen.{% endblocktrans %}
          {% else %}
          {% blocktrans %}Um alle Angebote zu sehen, kannst du diese Felder auch frei lassen.{% endblocktrans %}
          {% endif %}
        </p>

        <div class="row">
          <div class="col-lg-8">
            {{ locationForm.location }}
            <svg class="bi bi-search" style="margin-left: 3px; position: absolute; top: 12px; left: 27px;" width="14px"
              height="14px" viewBox="0 0 18 14" fill="#495057" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div class="col-lg-4">
            {{locationForm.radius}}
          </div>
          {% for hidden in locationForm.hidden_fields %}
          {{ hidden }}
          {% endfor %}
        </div>

        <h2 class="title">
          <img src="{% static 'img/step-2.svg' %}"
            style="width: 35px; margin-top: -4px; margin-right: 5px; height: auto;" />
          {% if searchingRequests %}
          {% blocktrans %}Welche Art von Hilfe könntest du bieten?{% endblocktrans %}
          {%else%}
          {% blocktrans %}Welche Art von Hilfe benötigst du?{% endblocktrans %}
          {%endif%}
        </h2>

        {% for field in selectionForm %}
        <div class="form-group">

          <div class="col-lg-6 offer-card" id="div_id_{{field.name}}">
            <input type="checkbox" name="{{field.name}}" class="checkboxinput custom-control-input"
              id="id_{{field.name}}">
            <label class="row align-self-center align-items-center custom-control-label" for="id_{{field.name}}">
              <div class="col-4 col-sm-2" style="padding: 5px;">
                {% with 'img/icons/icon_'|add:field.name|add:'.svg' as iconLink %}
                <img src="{% static iconLink %}">
                {% endwith %}
              </div>
              <div class="description col-8 col-sm-10">
                <h3>{{ field.label|safe }}</h3>
                <p>{{ field.help_text }}</p>
              </div>
            </label>
          </div>
        </div>
        {% endfor %}

        <div class="form-group">
          <input type="submit" name="submit" value="{% trans "Suchen" %}" class="btn btn-primary" id="submit-id-submit">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}