{% load static %}
{% load i18n %}
{% load display_value %}
<a href="/offers/{{ entry.offer.genericOffer.id }}/">        
    <div class="col-12 col-lg-6 offer-card"> 

        <div class="row align-self-center align-items-center">
        <div class="col-5 col-sm-4">
          {% if entry.image.url|length > 0 %}
          <div class="background-photo" style="background-image: url({{ entry.image.url }})"></div>
          {% else %}
            <div class="background-photo" style="background-image: url({% static 'img/offers/no-acc-img.jpg' %})"></div>
          {%endif%}
          </div>
        <div class="description col-7 col-sm-8">
<h3>{% if entry.offer.genericOffer.requestForHelp %}{% trans "Gesuch: " %}{%else%}{% trans "Angebot: "%}{%endif%}{{ entry.offer.genericOffer.get_offerType_display }} | {{entry.offer.get_helpType_welfare_display }} </h3>
<p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg>   {{entry.location.city}}</p>
{% if entry.offer.hasEducation_welfare %}<p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
</svg>{%blocktrans%} Ausbildung vorhanden {%endblocktrans%}</p>
<p>{{ entry.offer.typeOfEducation}}</p>{%endif%}
<p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
<path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
</svg> {% blocktrans %}Beschreibung{% endblocktrans %}: {{entry.offer.genericOffer.offerDescription}} </p>
</div>
        </div>

    </div>   
    </a>  