{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}E-Mail verschickt{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}



{% load crispy_forms_tags %}

{% block content %}
<hr>
<div class="container">
  <h2> {% blocktrans %}E-Mail verschickt{% endblocktrans %}</h2>
  <p>{% blocktrans %}Wir haben Ihnen eine E-Mail gesendet mit einem Link um Ihr Kennwort zurückzusetzen.{% endblocktrans %} </p>
  <p>{% blocktrans %}Wenn Sie kein E-Mail erhalten, überprüfen Sie bitte die eingegebene Adresse und Ihren Spam-Ordner.{% endblocktrans %} </p>
</div>
{% endblock %}
