{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Über uns{% endblocktrans %}
{% endblock %}

{% block header %}
<style>
    div.team { margin-top: 55px;}
.team h2 {  font-size: 18px; margin-bottom: 35px;}
    .team img { max-width: 200px; height: auto; margin-bottom: 15px;} 
    .team > div { text-align: center; }
    @media only screen and (min-width: 768px) {
      .about-title {
        padding: 100px 0px 150px 0px;
      }
    }
  
    @media only screen and (min-width: 992px) {
      .about-title {
        padding: 100px 0px 200px 0px;
      }
    }
  
    @media only screen and (min-width: 1200px) {
      .about-title {
        padding: 150px 0px 150px 0px;
      }
    }
  
    .about-title {
        background: linear-gradient(122.45deg, #f5980f 0%, #fac903 100%);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.2);
      }

      .about-title h1 {
        font-size: 60px;
        color: #fff !important;
        font-weight: 800;
      }
      .about-title h2 {
        font-size: 30px;
        color: #fff !important;
        font-weight: 300;
      }
    @media only screen and (max-width: 767px) {
        .about-title {        padding: 100px 0px 35px 0px;}
      .navbar-collapse { background: linear-gradient(122.45deg, #f5980f 0%, #fac903 100%); }
  .navbar { padding: 0px !important; }
  .navbar .navbar-brand { padding: calc(20px + .3125rem) 20px;}
  .navbar-toggler { padding: 20px calc(20px);}
  .navbar-collapse { padding: 0px 20px 20px 20px;}
      .navbar {
        position: absolute;
      }
  
 
      .about-title h1 {
        font-size: 10vw;
        color: #fff !important;
      }
  
      .about-title h2 {
        font-size: 7vw;
        color: #fff !important;
        font-weight: 300;
      }
  

      .navbar {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
  
      .hide-home {
        display: none;
      }
  
      .ml-auto {
        margin-left: 0 !important;
        margin-right: auto;
      }
    }
  
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar > .container {
        width: 100%;
        max-width: 720px !important;
        padding-left: 15px;
        padding-right: 0px;
      }
    }
  
  
  </style>
  {% endblock %}
{% block content %}
<div class="about-title">
<div class="container">
    <div class="row align-self-center align-items-center">
      <div class="col-xl-7">
        <h1 class="text-white">
          {% blocktrans %}Together one <br>step further.{% endblocktrans %}
        </h1>
        <h2 class="text-white">
          {% blocktrans %}With match4crisis.{% endblocktrans %}
        </h2>
        <br />
        <p class="text-white">At the beginning of the war in Ukraine it was quickly clear that very many people will need help very quickly. Children will suffer and there will be chaos. They will be dependent on the help of others. 

            After quickly seeing how many people are willing to help and drive to the borders, we thought we must create a central interface. People should be able to easily search on their smartphone for help in the areas where they need it, and get results from people who can provide it. 
            
            </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12" style="text-align: center; margin: 0 auto; margin-top: 55px;">
    <h2>
      {% blocktrans %}Unser Team{% endblocktrans %}
    </h2>
  </div>

    <div class="row align-self-center team">
        <div class="col-sm-12 col-md-4">
          <img src="{% static 'img/team/lorenz.jpg' %}" alt="Lorenz Mader" />
          <h2>Lorenz Mader</h2>
        </div>
        <div class="col-sm-12 col-md-4">
         <img src="{% static 'img/team/amandeep.jpg' %}" alt="MUDr. Amandeep Grewal" />
          <h2>MUDr. Amandeep Grewal</h2>
        </div>
        <div class="col-sm-12 col-md-4">
         <img src="{% static 'img/team/andreas.jpg' %}" alt="MUDr. Andreas Zehetner" />
                   <h2>
            MUDr. Andreas Zehetner
          </h2>
        </div>
      </div>

      <div class="row align-self-center team">
        <div class="col-sm-12 col-md-4">
          <img src="{% static 'img/team/christian.jpg' %}" alt="Christian" />
          <h2>Christian</h2>
        </div>
        <div class="col-sm-12 col-md-4">
         <img src="{% static 'img/team/adrian.jpg' %}" alt="Adrian" />
          <h2>Adrian</h2>
        </div>
        <div class="col-sm-12 col-md-4">
         <img src="{% static 'img/team/felix.jpg' %}" alt="Felix Pätsch" />
                   <h2>
           Felix Pätsch
          </h2>
        </div>
      </div>


</div>
  

{% endblock %}
