.form-control {
    border-radius: 1rem;
    margin-bottom: 15px;
}

input[type=checkbox]~label {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
    margin-bottom: 0px;
    border-radius: 1rem !important;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 8%);
    width: 100%;
    padding: 10px 10px 10px 70px;
    font-weight: 600;
    margin-bottom: 15px;
}

input[type=checkbox]~label::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px !important;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
    box-shadow: 0 0 0px 2px #e6e6e6;
}

input[type=checkbox]~label::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~label::before {
    background-color: #4BD763 !important;
    box-shadow: 0 0 0px 2px #4BD763 !important;
}

input[type=checkbox]:checked~label::after {
    transform: translate3d(22px, 2px, 0);
}

.custom-control {
    padding-left: 0px;
}

.custom-control-label::before {
    border: 0px;
}

input[type=checkbox] {
    box-shadow: none;
    width: auto;
    height: auto;
}

.select2 {
    width: 100% !important
}

.select2-dropdown {
    border: 0px !important;
}

.select2-container .select2-search--inline .select2-search__field {
    font-weight: 300 !important;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
}