@import url("https://p.typekit.net/p.css?s=1&k=sxd4iee&ht=tk&f=139.173.5474.25136&a=1119038&app=typekit&e=css");

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@import url("https://p.typekit.net/p.css?s=1&k=ebr1qrd&ht=tk&f=16353.37460.37466.37469&a=47388320&app=typekit&e=css");

@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/af/32b0e4/00000000000000007735a185/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/32b0e4/00000000000000007735a185/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/32b0e4/00000000000000007735a185/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/af/c4a610/00000000000000007735a18b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/c4a610/00000000000000007735a18b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/c4a610/00000000000000007735a18b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/af/73dbad/00000000000000007735a197/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/73dbad/00000000000000007735a197/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/73dbad/00000000000000007735a197/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/af/7ad153/00000000000000007735a19d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/7ad153/00000000000000007735a19d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff"),
    url("https://use.typekit.net/af/7ad153/00000000000000007735a19d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

.tk-montserrat {
  font-family: "montserrat", sans-serif;
}
body {
  font-family: "proxima-nova", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  color: #4f4f4f;
  margin-top: 81px;
}

.bg-yellow {
  background: linear-gradient(122.45deg, #f5980f 0%, #fac903 100%);
}
.content {
  flex: 1;
}
a {
  color: #fa5103;
}
a:hover {
  color: #8c0442;
  text-decoration: none;
}

button:focus {
  outline: none !important;
}

h2.match4hc-title {
  color: #fa5103;
  font-size: 1.3rem;
}

h1.match4hc-title {
  font-weight: 600 !important;
  font-size: 1.7rem;
  margin-bottom: 0px;
}
.navbar {
  padding: 20px 20px;
}
.search-map {
  min-height: 50px;
  z-index: 2;
}
.navbar-dark .navbar-toggler {
  border: 0px !important;
  color: #fff !important;
}
.navbar-toggler {
  padding-right: 0px;
}
.footer a,
.footer p {
  color: #fff;
}
.home-title {
  background-image: url(/static/img/title.jpg);
  background-position: center;
  padding: 200px 0px 200px 0px;
  background-size: cover;
}
.home-title h1 {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-family: "Montserrat";
  font-weight: 900;
}

h2.title {
  font-size: 1.5rem;
}
.btn-green {
  background-color: #32bd69;
  font-size: 1rem;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 15px;
  font-weight: bold;
}

.btn-green:hover {
  color: #fff;
  background-color: #1eb159;
}
.btn-red {
  background-color: #ff3300;
  font-size: 1rem;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 15px;
  font-weight: bold;
}

.btn-red:hover {
  color: #fff;
  background-color: #cc2900;
}

.btn-yellow {
  background: linear-gradient(98deg, #F5CA1B 5.87%, #F5980F 100%);
  font-size: 1rem;
  color: #fff;
  padding: .7rem 1.5rem;
  border-radius: 15px;
  font-weight: bold;
  border: 0px !important;
}

.btn-yellow:hover {
  color: #fff;
  background: linear-gradient(98deg, #F5CA1B 5.87%, #F5980F 100%);
}


.form-row>.col, .form-row>[class*=col-] { margin-bottom: 10px;}

.registration_disclaimer { margin: 25px 0px;}

.logo-header {
  margin-bottom: 50px;
}
.home-box h2 {
  font-size: 2.3rem;
}

.home-box > div > div > a > div {
  padding: 70px 10px 70px 45px;
  height: 100%;
  border-radius: 20px;
}
.home-box-description {
  margin-bottom: 35px;
}
.home-box > div > div {
  padding-bottom: 15px;
}
.box-left {
  background-color: #fa5103;
}
.box-right {
  background-color: #f5ca1b;
}
.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.equal > [class*="col-"] {
  display: flex;
  flex-direction: column;
}
b {
  font-weight: 700;
}
.btn-lg {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.9rem 1rem;
}

.btn-md.blue {
  background-color: #000943;
  border-color: #000943;
  border: 0px;
}

.btn-md.blue:hover {
  background-color: #fa5103;
}
.btn-lg.blue {
  background-color: #000943;
  border-color: #000943;
  border: 0px;
}
.btn-lg.blue:hover {
  background-color: #000839;
}
.btn-lg.pink {
  background-color: #fa5103;
  border-color: #fa5103;
  border: 0px;
}
.btn-lg.pink:hover {
  background-color: #c0085b;
}
div.boxed {
  border: 4px solid #efefef;
  border-radius: 10px;
  padding: 35px 0 35px 0;
}
.logos-home > a > img {
  margin: 0 15px;
}
.nav-link {
  font-weight: 600;
}
.navbar {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  .dropdown-menu {
    background-color: transparent;
    border-radius: 0px !important;
    border: 0px !important;
  }
  .dropdown-item {
    color: #fff;
  }
  .navbar-collapse {
    padding: 20px 0px;
  }
  body {
    margin-top: 0px;
  }
  .navbar {
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  /* li.nav-item:first-child > a {
    padding-left: 0 !important;
  } */
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.nav-item:hover > .nav-link {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.nav-item > .nav-link {
  border-bottom: 1px solid transparent;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  margin: 0 5px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .active > .dropdown-toggle,
.navbar-dark .navbar-nav .dropdown-toggle.active,
.navbar-dark .navbar-nav .dropdown-toggle.show,
.navbar-dark .navbar-nav .show > .dropdown-toggle,
.nav-item:hover > .dropdown-toggle {
  border-bottom: 0px;
}

.nav-item:hover .dropdown-toggle:after {
  color: #fa5103 !important;
}
.nav-item:hover .dropdown-toggle > svg {
  stroke: #fa5103 !important;
}

.footer {
  background: rgb(0, 0, 0);
  padding: 15px 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top:55px;
}
.footer p {
  margin-bottom: 0px !important;
}

.footer a:hover {
  text-decoration: underline;
}

h5.card-title {
  color: #000943;
  font-weight: 300;
  font-size: 1.1rem;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle,
.btn-info:hover {
  background-color: #fa5103 !important;
  border-color: #fa5103 !important;
  border: 0px;
}

.btn-info {
  background-color: #efefef;
  color: #888;
  border: 0px;
}

@media only screen and (max-width: 575px) {
  .form-group > div {
    display: block;
  }

  .form-group label {
    margin-bottom: 0.1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .form-group > div {
    display: block;
  }
}

.form-group label {
  margin-bottom: 0.2rem;
}
.form-group {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar > .container {
    width: 100%;
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar-brand > img {
    width: 150px !important;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 0.98rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

/* Make qualification selecter stacked on smaller screens to see all options */
@media only screen and (max-width: 760px) {
  .ausbildung-addon .btn-group {
    display: flex;
    flex-direction: column;
  }
}

.login-card {
  padding: 30px;
}

.login-form {
  min-height: 650px;
}

.login-form > div {
  padding: 55px 0 65px 0;
}

ul {
  padding-left: 1rem;
}
form .blue {
  margin-top: 15px;
}

.login-form .blue {
  margin-top: 0px;
}

.login-card h4 {
  font-size: 1.3rem;
}

/*
Helper Form
*/

.ausbildung-addon {
  max-height: 700px;
  transition: max-height 600ms 0ms, opacity 600ms 0ms;
  overflow: hidden;
  margin-top: 5px;
}

.ausbildung-addon.hidden {
  opacity: 0;
  max-height: 0px;
  margin-top: 0px;
}

.card {
  border: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-heading {
  font-weight: 600 !important;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
textarea.form-control, input.form-control {
  font-weight: 300;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 0px;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
}

input.form-control {
  height: calc(1.5em + 1rem + 5px);
}

.invalid-feedback {
  margin-bottom: 0.5rem;
  color: #fa5103;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
  border-color: #fa5103;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(0, 9, 67, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(0, 20, 146, 0.1);
  outline: 0 none;
}

.input-form {
  display: block;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.375rem 0.75rem 0.375rem 2.2rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 0px;
  border-radius: 1rem;
}

.dropdown-toggle:hover > svg {
  stroke: #fa5103 !important;
}
.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.dropdown-item:active,
.dropdown-item:hover {
  background-color: none !important;
  background: none !important;
  color: #fa5103;
}

@supports (-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px)) {
  @media only screen and (min-width: 768px) {
    .dropdown-menu {
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      background-color: rgba(255, 255, 255, 0.6);
    }
    .dropdown-menu {
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 20px !important;
      border: 0px !important;
    }
    .dropdown-item {
      color: #000943;
    }
  }
}


#searchsubmit {
  display: none;
}
.top-menu a { color: #000;}
.input-form-search { display: block;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.375rem 0.75rem 0.375rem 2.2rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 0px;
  border-radius: 1rem;}
  .container.cards { margin-top:25px;}

  .filter { text-align:right; text-decoration: underline; }
  .offer-card .row .col-5 { padding-left:0px;}
  div.offer-card > .row { padding: 15px; color: #000;}
.container.cards { display: table; }
  .description h3 {font-size: 16px;}
  .text-center a { color: #000;}
  @media only screen and (max-width: 767px) {  div.offer-card > .row {  margin-bottom: 15px; } }
  @media only screen and (min-width: 768px) {
      div.offer-card .row { margin-right:0px; margin-left: 0px;}
      div.offer-card { float: left; }
      .container.cards { padding-left:0px; padding-right:0px;}
      div.offer-card > .row {  margin-bottom: 30px; }

  }
  div.background-photo {  border-radius: 20px; padding:38%; background-size: cover;}
  .description p {margin-bottom: 0px;}
  .description svg { margin-top: -2px; margin-right: 5px;}
  div.offer-card > .row {   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border-radius: 25px; padding:10px;}